<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<div style="display: flex; flex-direction: column; align-items: center">
    <div style="display:table">
        <div style="display: table-row">
            <div style="display: table-cell; border: 1px solid #000000; vertical-align: middle">
                Box1
            </div>
<!--            <div style="text-align: center">asdff</div>-->
        </div>
        <div style="display: table-row">
            <div style="display: table-cell; border: 1px solid #000000; vertical-align: middle">
                Box1
            </div>
            <div style="display: table-cell; border: 1px solid #000000">
                Box 2
            </div>
            <div style="display: table-cell; border: 1px solid #000000">
                Box 3
            </div>
            <div style="display: table-cell; border: 1px solid #000000; vertical-align: middle">
                <div>
                    Box 4.1
                </div>
                <div>
                    Box 4.2
                </div>
            </div>
        </div>
    </div>
</div>
<label>
    <input value="test" type="date"/>
</label>
</body>
</html>